.table__block {
    width: 692.5px;
    height: 640px;
    margin: 67.5px 847.5px 101.5px 359px;
}

.table__block h5{
    margin: 0 0 26px 0;
}

.table__proper--box {
    height: 600.5px;
    width: 692.5px;
    margin: 0%;
}

.table__row {
    border: 1px gray solid;
    height: 37.5px;
    width: 692.5px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    margin: 0;
}

.table__row--icon {
    height: 13.5px;
    width: 49.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__row--check {
    height: 13.5px;
    width: 15.5px;
}
.table__row--cross {
    height: 13.5px;
    width: 13.5;
}

.table__row--text {
    /* height: 13.5px; */
    width: 643px;
    padding-left: 15.5px;
    display: flex;
    align-items: center;
    border-left: solid gray 1px;
}

@media screen and (max-width: 1440px) {
    .table__block {
        margin: 67.5px 847.5px 101.5px 19%;
    }
}

@media screen and (max-width: 1024px) {
    .table__block {
        margin: 67.5px 847.5px 101.5px 15%;
    }
}

@media screen and (max-width: 768px) {
    .table__block {
        margin: 67.5px 847.5px 101.5px 13%;
    }

    .table__row {
        width: 573.5px;
        height: 32.5px;
    }
}

@media screen and (max-width: 768px) {
    .table__block {
        margin: 67.5px 847.5px 101.5px 8%;
        width: 363.5px;
    }

    .table__row {
        width: 357.5px;
        height: 58.5px;
    }
}
